#widget-circle_activity_status .axis line,
#widget-circle_activity_status .axis path{
	fill: none;
    stroke: rgba(0, 0, 0, 0.14);
    shape-rendering: crispEdges;
}

#widget-circle_activity_status  svg g.dot.clicked:not(.hovered) circle{
	fill: #ccc !important;
}
#widget-circle_activity_status  svg g.dot.clicked:not(.hovered) text{
	font-weight: bold !important;
}

#widget-circle_activity_status  svg g.dot.hovered .author-name-label{
	display : none;
}

#widget-circle_activity_status  svg g.dot.hovered circle{
	stroke-width : 1px;
}

#widget-circle_activity_status  svg g.dot.decrease circle{
	stroke-dasharray: 3;
}
#widget-circle_activity_status .title-visualization-details {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: steelblue;
    top: -5px;
    position: relative;
}

/*----------------SLIDER-----------------*/
#widget-circle_activity_status  #slider {
	padding-top: 20px;
}

#widget-circle_activity_status  #slider >* {
	display  : inline-block;
	position : absolute;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 85%; 
}

#widget-circle_activity_status  #slider .body{
	top  : 35%;
}
#widget-circle_activity_status  #slider .top{
	top : -20px ! important;
}

#widget-circle_activity_status  #slider .ui-slider {
	height 		: .5em;
	border 		: 1px solid #b1b1b1;
} 

#widget-circle_activity_status  #slider .ui-slider {
	height 		: .5em;
	border 		: 1px solid #b1b1b1;
} 

#widget-circle_activity_status  #slider .ui-widget-header{
	box-shadow: inset 0px 1px 4px 1px rgba(205, 205, 205, 0.75);
}

#widget-circle_activity_status #slider .ui-slider-handle {
	height		  : .9em;
    width    	  : .9em;
    border		  : #b1b1b1;
    border-radius : .5em;
    background    : #ddd url(../../images/visualizations/metal.jpg) 50% 50% repeat-x;
    box-shadow    :  0px 1px 4px 1px rgba(35, 35, 35, 0.75);
}

/*----------------LIST-----------------*/
#widget-publications-circle_activity_status .author-name{
	text-transform: capitalize;
}

#widget-publications-circle_activity_status .box-title{
	font-size: 14px;
}
#widget-publications-circle_activity_status .timeline-header{
	font-size: 12px;
}
#widget-publications-circle_activity_status .timeline:before{
	left : 13px;
}
#widget-publications-circle_activity_status .timeline>li>.fa{
	left : 0;
}
#widget-publications-circle_activity_status .timeline>li>.timeline-item{
	margin-right : 0;
	margin-left	 : 35px;
}

#widget-publications-circle_activity_status .box-tools.pull-right{
	display : none;
}
/*-----------------------------------------*/
#widget-circle_activity_status .infobox{
	 border:2px solid steelblue;
	 border-radius:4px;
	 box-shadow:#333333 0px 0px 10px;
	 margin:200px auto;
	 padding:5px 10px;
	 background:rgba(255, 255, 255, 0.8);
	 position:absolute;
	 top:0px;
	 left:0px;
	 z-index:10500;
	 font-weight:bold;
	 max-width: 200px;
}
#widget-circle_activity_status .infobox .label{
	padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: steelblue;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
     position: relative;
     display: inline-block;
}
#widget-circle_activity_status .infobox span,
#widget-circle_activity_status .infobox .label span{   
	font-size: 12px;
    color: #1b4f79;
    padding: .2em;
}

#widget-circle_activity_status .visualization-details .citationRate .label,
#widget-circle_activity_status .visualization-main .axis .label{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	fill : #444;
	font-size : 12px;
}
