#boxbody-researcher_coauthor_affiliation{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#boxbody-researcher_coauthor_affiliation .coauthor-name, 
#boxbody-researcher_coauthor_affiliation .link-value{
	fill		: #5A0E56;
	font-weight	: bold;
}
#boxbody-researcher_coauthor_affiliation .link-value{
	font-size	: 10px;
}

#boxbody-researcher_coauthor_affiliation .disabled{
	opacity 	: 0.3;
}

#boxbody-researcher_coauthor_affiliation g.node:hover {
    cursor: pointer;
}
#widget-publications-researcher_coauthor_affiliation .box-title,
#widget-publications-researcher_coauthor_affiliation .timeline-header
{
	font-size: 12px;
}
#widget-publications-researcher_coauthor_affiliation .timeline:before{
	left : 13px;
}
#widget-publications-researcher_coauthor_affiliation .timeline>li>.fa{
	left : 0;
}
#widget-publications-researcher_coauthor_affiliation .timeline>li>.timeline-item{
	margin-right : 0;
	margin-left	 : 35px;
}

/*----------------LEGEND-----------------*/
#boxbody-researcher_coauthor_affiliation .divLegend{
	position		: relative;
    box-shadow		: inset 0 -10px 10px -10px rgba(128, 128, 128, 0.38);
}

#boxbody-researcher_coauthor_affiliation .divLegend .title{
	color		: #5A0E56;
	font-weight	: bold;
}

#boxbody-researcher_coauthor_affiliation .divLegend .title-legend{
    font-size 	: 15px;   
    font-weight	: bold;
    padding	  	: 5px;	
}

#boxbody-researcher_coauthor_affiliation ul.listElemLegend{
	list-style	: none;
	width     	: 100%;
	font-weight : bold;
	font-size	: 12px;
	padding		: 5px;
}

#boxbody-researcher_coauthor_affiliation .divLegend li{
	display 	  : inline-block;
	width   	  : 100%;
	margin-bottom : 5px;
}
#boxbody-researcher_coauthor_affiliation .divLegend .title-label{
	position 	: absolute;
	width	 	: 35%;
	line-height : 1em;
}

#boxbody-researcher_coauthor_affiliation .divLegend .measurement{
	width 	    : 63%;
	margin-left : 36%;
}

#boxbody-researcher_coauthor_affiliation .divLegend .measurement-units,
#boxbody-researcher_coauthor_affiliation .divLegend .measurement-labels{ 
	display			: flex;
	justify-content	: space-between;
	text-align		: right;
} 

#boxbody-researcher_coauthor_affiliation .divLegend .measurement-labels >*:first-child{
	text-align		: left;
}
#boxbody-researcher_coauthor_affiliation .divLegend .measurement-units{
	font-size 	: 18px;
}

#boxbody-researcher_coauthor_affiliation .divLegend .measurement-units .line-nrCollaborations{
	border		 : 0px solid transparent;
    border-bottom: 14px solid #CCB5CB;
    font-size	 : 0px;
    padding-right: 20px;
}