@media screen and (max-width: 1366px) {
	#widget-conference_active_researcher .visualization-details .timeline{
		font-size : 85%;
	}
	#widget-conference_active_researcher .visualization-details .timeline-item .timeline-header{
		font-size : 14px;
	}
	#widget-conference_active_researcher .visualization-details .timeline-item .time{
		font-size : 10px;
	}
}

#widget-conference_active_researcher  .visualization-details{
	position : absolute;
	right	 : 0;
}

#widget-conference_active_researcher .box-title-container{
	width : 80%;
}

#widget-conference_active_researcher .callout-warning{
	position: absolute;
    top		: 40%;
    width	: 98%;
}

#widget-conference_active_researcher .box-body svg {
  font-family: Abel,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

#widget-conference_active_researcher .box-body .links path {
  fill			 : none;
  stroke 		 : rgb(222, 222, 222);
  stroke-opacity : 0.5; 
}

#widget-conference_active_researcher .box-body .episode, #widget-conference_active_researcher .box-body .node, #widget-conference_active_researcher .box-body .detail text, #widget-conference_active_researcher .box-body .all-episodes {
  cursor: pointer;
}


#widget-conference_active_researcher .box-body .detail a text:hover, #widget-conference_active_researcher .box-body text .all-episodes:hover {
  text-decoration: underline;
}

#widget-conference_active_researcher .episode .basedOn_value {
	font-weight : bold;
    font-size	: 10px;
}

#widget-conference_active_researcher .episode .researcher_name {
	text-transform : capitalize;
}

#widget-conference_active_researcher .episode.clicked text {
	font-weight : bold;
}

#widget-conference_active_researcher .light-gradient-stop-color-1{
	stop-color : #d4d4d4  ;	<#-- #000 -->
}
#widget-conference_active_researcher .light-gradient-stop-color-2{
	stop-color : #eee;	<#-- rgb(102, 102, 102) -->
}

#widget-conference_active_researcher .dark-gradient-stop-color-1{
	stop-color : #a9b7bf; 
}
#widget-conference_active_researcher .dark-gradient-stop-color-2{
	stop-color : #dedede;	
}

#widget-conference_active_researcher .clicked-gradient-stop-color-1{
	stop-color : #1b38e8 /*#d2c7b0;*/	
}
#widget-conference_active_researcher .clicked-gradient-stop-color-2{
	stop-color : #b6c8ef /*#eee;	*/
}

#widget-conference_active_researcher .light-color{
	stroke : #999;
}
#widget-conference_active_researcher .dark-color{
 	stroke : #000; /*#0073b7; */
}
#widget-conference_active_researcher .clicked-color{
	stroke :  rgb(13, 40, 185) /*#f39c12;*/
}
#widget-publications-conference_active_researcher	{
	position: relative;
    height: 100%;
}
#widget-publications-conference_active_researcher>div{
    height: 100%;
}

#widget-conference_active_researcher .node .label:hover{
	fill : #000;
}


/*----------------LIST-----------------*/
#widget-publications-conference_active_researcher .author-name,
#widget-publications-conference_active_researcher .author_name{
	text-transform: capitalize;
}

#widget-publications-conference_active_researcher .box-title,
#widget-publications-conference_active_researcher .timeline-header
{
	font-size: 12px;
}
#widget-publications-conference_active_researcher .timeline:before{
	left : 13px;
}
#widget-publications-conference_active_researcher .timeline>li>.fa{
	left : 0;
}
#widget-publications-conference_active_researcher .timeline>li>.timeline-item{
	margin-right : 0;
	margin-left	 : 35px;
}
