#widget-researcher_similarity .similar-authors-elements .similar-author:hover{
	cursor : pointer;
}

#widget-researcher_similarity circle{
	fill		: #ebebeb;
	stroke		: #dadada;
	stroke-width: 2px;
}
#widget-researcher_similarity .missing-photo-icon{
	font-family : fontawesome;
	text-anchor : middle;
/* 	dominant-baseline : central; */
	fill :  #808080;
}
#widget-researcher_similarity .tooltip-similar-author .tooltip-stroke{
	fill	: #EBEBEB;
	stroke 	: #dadada;
}

#widget-researcher_similarity .tooltip-content .font-small{
	font-size : 35% !important;
}

#widget-researcher_similarity text{
	font-family	: "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill 		: #333;
	font-size 	: 14px;
}

#widget-researcher_similarity .tooltip-content text{
	font-size 	: 7px;
}
#widget-researcher_similarity .name,
#widget-researcher_similarity .paper,
#widget-researcher_similarity .hindex,
#widget-researcher_similarity .similarity{
	font-weight: 600;
}

#widget-researcher_similarity .similar-author .title{
	line-height	: 2.5em;
}
#widget-researcher_similarity #accordion-container .loading-icon{
	position: relative;
    top: 50px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
#widget-researcher_similarity #accordion{
	padding-right: 5px;
}

#widget-researcher_similarity #accordion .ui-accordion-header{
	padding		: 1px 1px 1px 8px;
    font-family : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight : 600;
    font-size	: 12px;
}

#widget-researcher_similarity #accordion .ui-accordion-content {
	margin		: 0;
	padding	  	: .5em;
	font-size	: 12px;
	min-height  : 100px;
}

#widget-researcher_similarity .visualization-details{
	position 	: absolute;
    border-left : 1px solid #d2d6de;
    box-shadow	: rgb(165, 165, 165) -6px 8px 39px -6px;
    opacity	 	: 0.95;
    right		: 15px;
    background	: rgba(255, 255, 255, 0.7);
}
