.myTooltip{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size  : 12px;
}

.myTooltip .font-small{
	font-size : 35% !important;
}
.myTooltip .tooltip-stroke,
.myTooltip .image{
	stroke-width :  2px;
}
.myTooltip .tooltip-content .title-name{ 
	font-weight : bold;
    font-size	: 14px;
}

.myTooltip .tooltip-content .paper, 
.myTooltip .tooltip-content .hindex{
	font-weight : bold;
}