@import url("tooltip.css");
@import url("co-authors-graph-style.css");
@import url("similar-researchers-style.css");
@import url("key-researchers-style.css");
@import url("circle-activity-status.css");
@import url("publication-rank.css");

.box-body .font-small{
	font-size : 85% !important;
}

.box-body .width-small{
	width : 85% !important;
}

.box-body .title{
    font-weight	: 600;
    color		: inherit;
    font-family	: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display		: block;
}

.container-box{
	box-shadow: 0px 2px 5px 1px rgb(206, 206, 206);
    border: 1px solid #f3e9e9;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin: 5px 5px;
}

/* dropdown criteria */
.box-body .filter-criteria{
	position: absolute;
	width	: 20%;
	padding : 10px 0px;
}

.box-body .filter-criteria .container{
    width: 100%;
}

.box-body .filter-criteria .title{
    width		 : auto;
    padding-right: 5px;
    float		 : left;
}

.box-body .filter-criteria .dropdown{
    float : left;
    top   : -8px;
}

.box-body .filter-criteria .dropdown-menu{
    box-shadow		: 0 6px 12px rgba(0,0,0,.175);
    border			: 1px solid #ccc;
    border-radius	: 4px;
}