.navbar-header .title{
	font-size:20px;
	margin:0 !important
}
.navbar-header .subtitle{
	padding:17px 0 0 0;
	font-size:14px;
	margin:0 !important
}
.center-content{
	margin:auto;
	text-align:center;
}
.fontsize24{ font-size: 24px}
@media (min-width:1200px){
	.fa-home{
		font-size: 120px;
	}
}
@media (min-width: 992px) and (max-width:1200px){
	.fa-home{
		font-size: 8vw;
	}
}
@media (min-width: 992px){
	.padding-home-content{
		padding-top: 160px;
	}
	.info-box-home-icon{
    	min-height:180px;
    }
}
@media (min-width: 768px) {
	.box-home{
		display:inline-block;
		float:none;
		max-width:300px;
	}
    .info-box-home-text {
        width:100%;
        margin-left:0px;
        text-align:center;
    }
    .info-box-home-icon{
    	padding-top:30px;
    	width:100%;
        margin-left:0px;
        text-align:center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .padding-home-content{
		padding-top: 50px;
	}
	.info-box-home-icon{
    	min-height:140px;
    }
    .fa-home{
		font-size: 8vw;
	}
}
@media (max-width: 768px) {
	 .padding-home-content{
		padding-top: 30px;
	}
	.info-box-home-text{
		padding-top:25px;
	}
	.fa-home{
		font-size: 8vw;
	}
}

/* form */
.popup-form-container, .login-container, .register-container{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup-form-container{
	z-index: 10000;
}

.login-container, .register-container{
    z-index: 10002;
}

/* css3 effect */
.blur4px{
	-webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}
.blur3px{
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}
.blur2px{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
.shadow-dialog{
	-webkit-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
}

.skin-blue-light .login-logo, .skin-blue-light .register-logo {
  background-color: #3c8dbc;
  margin: 0;
  color: #fff;
}

.skin-blue-light .login-logo a, .skin-blue-light .register-logo a{
  color: #fff;
}

/* dialog overlay */
.dialog-overlay{
  z-index: 10001;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}