.navbar-header .title{
	font-size:20px;
	margin:0 !important
}
.navbar-header .subtitle{
	padding:17px 0 0 0;
	font-size:14px;
	margin:0 !important
}
.center-content{
	margin:auto;
	text-align:center;
}

.box-home{
	cursor:pointer
}
a.box-home span {
    color: #333;
}
.box-title-container{
	width:60%;
	overflow: hidden;
	white-space: nowrap;
	cursor:default;
	margin-left: 10px;
}
/* overwritten style */
.box-header {
  padding: 5px 10px;
}

.box-header>.box-tools {
  top: 0;
}

.nav-tabs-custom>.nav>li>a {
    padding: 10px 10px;
}
/* end overwritten style */

iframe.externalContent{
	width:100%;
	min-height:100%;
}
.box-move-handle{
	cursor:move;
	font-size:14px;
	position: absolute;
    left:0;
    top:0;
}
.widget-placeholder{
	display:block;
	float:left;
	border: 1px dotted black;
    min-height: 50px;
    margin:0 0 20px 15px;
}
@media (min-width:1200px){
	.fa-home{
		font-size: 120px;
	}
}
@media (min-width: 992px) and (max-width:1200px){
	.fa-home{
		font-size: 8vw;
	}
}
@media (min-width: 992px){
	.padding-home-content{
		padding-top: 160px;
	}
	.info-box-home-icon{
    	min-height:180px;
    }
}
@media (min-width: 768px) {
	.box-home{
		display:inline-block;
		float:none;
		max-width:300px;
		margin: 0 15px;
		padding:0;
	}
    .info-box-home-text {
        width:100%;
        margin-left:0px;
        text-align:center;
    }
    .info-box-home-icon{
    	padding-top:30px;
    	width:100%;
        margin-left:0px;
        text-align:center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .padding-home-content{
		padding-top: 50px;
	}
	.info-box-home-icon{
    	min-height:140px;
    }
    .fa-home{
		font-size: 8vw;
	}
}
@media (max-width: 768px) {
	 .padding-home-content{
		padding-top: 30px;
	}
	.info-box-home-text{
		padding-top:25px;
	}
	.fa-home{
		font-size: 8vw;
	}
}

/* form */
.popup-form-container, .login-container, .register-container, .iframe-center-container,.dialog-container{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.iframe-container,.dialog-content {
    max-width: 1000px;
    margin: 4% auto;
    /*background-color:#fff;*/
}

.popup-form-container, .dialog-modal-container{
	z-index: 10000;
}

.login-container, .register-container, .dialog-container, .iframe-center-container{
    z-index: 10002;
}

.dialog-close-container{
	position:relative;
	width:100%;
	height:0;
	color:#fff;
}

.dialog-close-button{
	position:absolute;
	cursor:pointer;
	top:7px;
	right:10px;
}

/* css3 effect */
.blur4px{
	-webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}
.blur3px{
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}
.blur2px{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
.shadow-dialog{
	-webkit-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
}

.skin-blue-light .login-logo, .skin-blue-light .register-logo, .skin-blue-light .dialog-header {
  background-color: #3c8dbc;
  margin: 0;
  color: #fff;
}

.dialog-header {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.skin-blue-light .login-logo a, .skin-blue-light .register-logo a{
  color: #fff;
}

/* dialog overlay */
.dialog-overlay{
  z-index: 10001;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* simplified style name */
.fontsize24{ font-size: 24px}
.padding0{padding:0}
.margin0{margin:0}
.border0{border:none}
.marginTop40Px{margin-top:40px}
.alignCenter{text-align:center}
.marginBottom0{margin-bottom:0}
.fleft{ float:left }
.fright{ float:right }
.minwidth150Px{min-width:150px}
.height50px{height:50px}

.table-container{
	padding:0 6px 0 0;
	width:100%;
}
.table{
	table-layout:fixed;
	width:100%;
	margin:0;
}

/* .table tbody{ 
	display: block;
	height: 200px;       For the demo 
    overflow-y: auto;    Vertical scroll   
    overflow-x: hidden;  Hide the horizontal scroll
    padding:0 4px;
 } */
 
 .table-condensed tr{
	height:24px;
}

.table-condensed td{
	white-space: nowrap;
	overflow:hidden;
}
.palm_atr{
	width:300px;
	max-height:76px;
	float:left;
	cursor:pointer;
	margin:0 0 2px 0;
}
.palm_atr:hover{
	background-color: #f5f5f5;
}
.palm_atr_photo{
	width:52px;
	height:70px;
	padding:3px 2px;
	float:left;
	font-size:60px;
	overflow:hidden;
	color:#73A2F8;
}
.palm_atr_img{
	/*width:52px;*/
	height:70px;
	position:relative;
}
.palm_atr_name, .palm_atr_dtl, .palm_atr_aff, .palm_atr_ct{
	width:244px;
	overflow:hidden;
	white-space:nowrap;
	float:left;
}
.palm_atr_name{
	height:25px;
  	font-size:16px;
  	padding:4px 0 0 4px;
  	font-weight: 600;
}
.palm_atr_dtl{
	height:15px;
	font-size: 11px;
	padding:0 0 0 4px;
}
.palm_atr_aff{
	height:17px;
	line-height: 14px;
	text-transform:capitalize;
	padding:0 0 0 4px;
}
.palm_atr_ct{
	height:16px;
	line-height: 12px;
	font-size: 12px;
	padding:0 0 0 4px;
}
.palm_section{
	margin-bottom: 5px;
}
.palm_label{
	display: inline-block;
  	width: 100%;
  	margin-bottom: 3px;
  	font-weight: 700;
}
.palm_content{
	display: inline-block;
  	width: 100%;
  	margin-bottom: 3px;
}
.palm_pub_coauthor_blck{
	width:100%;
}
.palm_pub_coauthor_ctr{
	float:left;
	width:100%;
	margin-bottom:15px;
}
.palm_pub_atr{
	max-width:300px;
	max-height:52px;
	float:left;
	margin:0 0 2px 0;
}
.palm_pub_atr_photo{
	height:50px;
	padding:3px 2px;
	float:left;
	font-size:50px;
	overflow:hidden;
	color:#73A2F8;
}
.palm_pub_atr_img{
	height:50px;
	position:relative;
}
.palm_option{
	width:100%;
	float:right
}
.palm_option_btn{
	float:right;
	width:auto;
	margin:5px 5px;
}
.palm_pdf_dialog{
	padding:0;
	overflow:hidden;
}

/* override jquery ui css */
.ui-dialog { z-index: 1031 !important ;}

.ui-dialog .ui-dialog-content {
    padding: 0
}
.ui-dialog-titlebar-close{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.ui-dialog-titlebar-close:before{
	content: "\f00d";
}

.ui-autocomplete-loading {
	opacity: 0.4;
	background: white url("../images/spinner.gif") right center no-repeat;
}

/* PALM message pop up */
.palm_message_popup{
	position:fixed;
	z-index:10000;
	min-height:35px;
	min-width:400px;
	left:10px
	-webkit-box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.75);
}
.palm_message_popup > .icon{
	width: 20px;
    height: 20px;
    float: left;
    font-size: 20px;
    margin: 5px 5px 5px 0;
}
.palm_message_popup > .inner{
	font-size: medium;
    font-weight: 600;
    padding: 5px 0;
    margin-left: 29px;
    overflow: auto;
    height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.timeline>li .fa-user {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 30px;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
}
.timeline-author-img, .author-circle-img {
    border-radius: 50%;
    /* float: left; */
    width: 40px;
    height: 40px;
}
.box-filter{
	background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid transparent;
	
}
.box-filter-option{
	padding: 6px 12px;
}

/* Pie Chart style */
.d3-pie-chart .total{
  font-size: 18px;
  font-weight: bold;
}
.d3-pie-chart .units{
  fill: gray;
  font-size: 12px;
}
.d3-pie-chart .label{
  fill: #CCC;
  font-size: 12px;
  font-weight: bold;
}
.d3-pie-chart .value{
  font-size: 12px;
  font-weight: bold;
}

/* End of pie chart style */

/*  list style */
#publication-list .publication, #event-list .event, .event-year>.event-item{
	margin-bottom: 10px;
	border-left: 3px solid transparent;
	float:left;
	min-height:80px;
}
#publication-list .publication.active, #publication-list .publication:hover, #event-list .event>.detail.active, #event-list .event>.detail:hover, .event-year>.event-item:hover{
	background-color: #EBEBEB;
}
#publication-list .publication.active, #event-list .event.active{
	border-left-color: #3c8dbc;
}
#publication-list .publication>.nav, #event-list .event>.nav, .event-year>.event-item>.nav{
    width:35px;
    float:left;
    height:100%;
    padding: 5px 0;
}
#publication-list .publication>.nav>.fa, #event-list .event>.nav>.fa, .event-year>.event-item>.nav>.fa{
	margin-left: 2px;
	width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}
#publication-list .publication>.nav>.fa-edit, #event-list .event>.nav>.fa-edit, .event-year>.event-item>fa-edit{
	color: #999;
    margin-top: 10px;
    background-color:#fff;
    font-size: 16px;
}
#publication-list .publication>.detail, #event-list .event>.detail, .event-year>.event-item>.detail {
	cursor:pointer;
    margin-left: 0;
    float:left;
    width:260px
}
#event-list .event>.detail{
	min-height: 80px;
}
.event-year>.event-item>.detail {
    width:257px
}
#publication-list .publication>.detail>.title, #event-list .event>.detail>.title, .event-year>.event-item>.detail>.title {
    display: block;
    font-weight: 600;
    color: #3c8dbc;
}
#publication-list .publication>.detail>.author {
    display: block;
}
#publication-list .publication>.detail>.venue {
    display: block;
}
.new-circle{
	position:fixed;
	bottom:20px;
	right:20px;
	width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
    overflow:hidden;
}
.new-circle .fa-lg{
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    display:block;
}

.fa-stack-1x-left {
    position: absolute;
    left: -5px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
}

.fa-stack-1x-right {
    position: absolute;
    left: 14px;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}

/* Tagging style */
.palm-tagsinput{
	 border:1px solid #d2d6de;
	 padding:0;
	 width:100%;
	 min-height:34px;
	 float: left;
   	 margin-bottom: 15px;
}

.palm-tagsinput-focus {
    border-color: #3c8dbc !important;
    outline: 0;
}

.palm-tagsinput>span.tag-item{
	display:block;
	float:left;
	padding:0 18px 0 0;
	margin:5px 0 2px 13px;
}

.palm-tagsinput>span:hover{
  	background-color:#efefef;
}
.palm-tagsinput>span.tag-item>.fa-times{
	cursor:pointer;
 	position: absolute;
    border: 1px solid #d2d6de;
    color: #d2d6de;
    padding: 0;
    width: 16px;
    height: 16px;
    margin: 0 0 0 3px;
    font-size: 16px;
    line-height: 13px;
}
.palm-tagsinput input{
  	border:0;
  	margin:0;
  	padding:5px 12px;
  	width:260px;;
}
.palm-tagsinput input:focus{
  	border: none;
    outline: 0;
}

/* author filter style */
.f-a-cont{
	height:50px
}
.f-a-cont .fa-user, .tag-item .fa-user{
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 30px;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    float: left;
}
.f-a-img{
	float:left
}
.f-a-desc{
	float: left;
    margin: 0 0 0 6px;
}
.f-a-name, .f-a-aff{
    max-height: 25px;
    max-width: 190px;
    white-space: nowrap;
}
.f-a-name{
	text-transform: capitalize;
	font-size: 15px;
}
.f-a-aff{
	line-height: 14px;
}