.navbar-header .title{
	font-size:20px;
	margin:0 !important
}
.navbar-header .subtitle{
	padding:17px 0 0 0;
	font-size:14px;
	margin:0 !important
}
.center-content{
	margin:auto;
	text-align:center;
}

.box-home{
	cursor:pointer
}
a.box-home span {
    color: #333;
}
.box-title-container{
	width:60%;
	overflow: hidden;
	white-space: nowrap;
	cursor:default;
	margin-left: 10px;
}
/* overwritten style */
.box-header {
  padding: 5px 10px;
}

.box-header>.box-tools {
  top: 0;
}
/* end overwritten style */

iframe.externalContent{
	width:100%;
	min-height:500px;
}
.box-move-handle{
	cursor:move;
	font-size:14px;
	position: absolute;
    left:0;
    top:0;
}
.widget-placeholder{
	display:block;
	float:left;
	border: 1px dotted black;
    min-height: 50px;
    margin:0 0 20px 15px;
}
@media (min-width:1200px){
	.fa-home{
		font-size: 120px;
	}
}
@media (min-width: 992px) and (max-width:1200px){
	.fa-home{
		font-size: 8vw;
	}
}
@media (min-width: 992px){
	.padding-home-content{
		padding-top: 160px;
	}
	.info-box-home-icon{
    	min-height:180px;
    }
}
@media (min-width: 768px) {
	.box-home{
		display:inline-block;
		float:none;
		max-width:300px;
		margin: 0 15px;
		padding:0;
	}
    .info-box-home-text {
        width:100%;
        margin-left:0px;
        text-align:center;
    }
    .info-box-home-icon{
    	padding-top:30px;
    	width:100%;
        margin-left:0px;
        text-align:center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .padding-home-content{
		padding-top: 50px;
	}
	.info-box-home-icon{
    	min-height:140px;
    }
    .fa-home{
		font-size: 8vw;
	}
}
@media (max-width: 768px) {
	 .padding-home-content{
		padding-top: 30px;
	}
	.info-box-home-text{
		padding-top:25px;
	}
	.fa-home{
		font-size: 8vw;
	}
}

/* form */
.popup-form-container, .login-container, .register-container{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup-form-container{
	z-index: 10000;
}

.login-container, .register-container{
    z-index: 10002;
}

/* css3 effect */
.blur4px{
	-webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}
.blur3px{
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}
.blur2px{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
.shadow-dialog{
	-webkit-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
}

.skin-blue-light .login-logo, .skin-blue-light .register-logo {
  background-color: #3c8dbc;
  margin: 0;
  color: #fff;
}

.skin-blue-light .login-logo a, .skin-blue-light .register-logo a{
  color: #fff;
}

/* dialog overlay */
.dialog-overlay{
  z-index: 10001;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* simplified style name */
.fontsize24{ font-size: 24px}
.padding0{padding:0}
.margin0{margin:0}
.border0{border:none}
.marginTop40Px{margin-top:40px}
.alignCenter{text-align:center}
.marginBottom0{margin-bottom:0}

.table-container{
	padding:0 6px 0 0;
	width:100%;
}
.table{
	table-layout:fixed;
	width:100%;
	margin:0;
}

/* .table tbody{ 
	display: block;
	height: 200px;       For the demo 
    overflow-y: auto;    Vertical scroll   
    overflow-x: hidden;  Hide the horizontal scroll
    padding:0 4px;
 } */
 
 .table-condensed tr{
	height:24px;
}

.table-condensed td{
	white-space: nowrap;
	overflow:hidden;
}
.palm_atr{
	width:300px;
	max-height:76px;
	float:left;
	cursor:pointer;
	margin:0 0 2px 0;
}
.palm_atr:hover{
	background-color: #f5f5f5;
}
.palm_atr_photo{
	width:52px;
	height:70px;
	padding:3px 2px;
	float:left;
	font-size:60px;
	overflow:hidden;
	color:#73A2F8;
}
.palm_atr_img{
	/*width:52px;*/
	height:70px;
	position:relative;
}
.palm_atr_name, .palm_atr_dtl, .palm_atr_aff, .palm_atr_ct{
	width:244px;
	overflow:hidden;
	white-space:nowrap;
	float:left;
}
.palm_atr_name{
	height:25px;
  	font-size:16px;
  	padding:4px 0 0 4px;
  	font-weight: 600;
}
.palm_atr_dtl{
	height:15px;
	font-size: 11px;
	padding:0 0 0 4px;
}
.palm_atr_aff{
	height:17px;
	line-height: 14px;
	text-transform:capitalize;
	padding:0 0 0 4px;
}
.palm_atr_ct{
	height:16px;
	line-height: 12px;
	font-size: 12px;
	padding:0 0 0 4px;
}