li, li a, p {
    color: #555;
}
.navbar{
	min-height:40px !important;
}
.main-header .logo {
	height: 40px;
    line-height: 40px;
}
.main-header .sidebar-toggle, .navbar-brand{
	height:40px;
	padding:10px 15px;
}
.main-sidebar, .left-side {
	padding-top: 40px;
}
.navbar-header .title{
	font-size:20px;
	margin:0 !important
}
.navbar-header .subtitle{
	padding:11px 0 0 0;
	font-size:14px;
	margin:0 !important
}
.center-content{
	margin:auto;
	text-align:center;
}
.overflow-visible{
	overflow:visible !important;
}
.navbar-nav .fa{
	font-size:22px;
}
.navbar-nav strong{
	margin-left:4px;
}

.navbar-nav>li>a{
	padding:8px 10px !important;
}

.box-home{
	cursor:pointer
}
a.box-home span {
    color: #333;
}
.box-title-container{
	width:60%;
	overflow: hidden;
	white-space: nowrap;
	cursor:default;
	margin-left: 10px;
}
/* overwritten style */
.box-header {
  padding: 5px 10px;
}

.box-header>.box-tools {
  top: 0;
}

.nav-tabs-custom>.nav>li>a {
    padding: 10px 10px;
}

.nav-tabs-custom-explore>.nav>li>a {
    padding: 3px 3px;
}

/* end overwritten style */

iframe.externalContent{
	width:100%;
	min-height:100%;
}
.box-move-handle{
	cursor:move;
	font-size:14px;
	position: absolute;
    left:0;
    top:0;
}
.widget-placeholder{
	display:block;
	float:left;
	border: 1px dotted black;
    min-height: 50px;
    margin:0 0 20px 15px;
}
@media (min-width:1200px){
	.fa-home{
		font-size: 120px;
	}
}
@media (min-width: 992px) and (max-width:1200px){
	.fa-home{
		font-size: 8vw;
	}
}
@media (min-width: 992px){
	.padding-home-content{
		padding-top: 120px;
	}
	.info-box-home-icon{
    	min-height:180px;
    }
    .info-box-home-icon-explore{
    	min-height:70px;
    }
}
@media (min-width: 768px) {
	.box-home{
		display:inline-block;
		float:none;
		max-width:300px;
		margin: 0 15px;
		padding:0;
	}
	
	.box-home-explore{
		display:inline-block;
		float:none;
		max-width:100px;
		margin: 5px 20px 5px 0;
		padding: 15px 0px 0px 0;
		max-height:70px;
	}
	
    .info-box-home-text {
        width:100%;
        margin-left:0px;
        text-align:center;
    }
    .info-box-home-icon{
    	padding-top:30px;
    	width:100%;
        margin-left:0px;
        text-align:center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .padding-home-content{
		padding-top: 50px;
	}
	.info-box-home-icon{
    	min-height:140px;
    }
    .fa-home{
		font-size: 8vw;
	}
}
@media (max-width: 768px) {
	 .padding-home-content{
		padding-top: 30px;
	}
	.info-box-home-text{
		padding-top:25px;
	}
	.fa-home{
		font-size: 8vw;
	}
}

/* form */
.popup-form-container, .login-container, .register-container, .iframe-center-container,.dialog-container{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.iframe-container,.dialog-content {
    /*max-width: 1000px;*/
    margin: 4% auto;
    /*background-color:#fff;*/
}
.dialog-content{
	min-width:360px;
}

.popup-form-container, .dialog-modal-container{
	z-index: 10000;
}

.login-container, .register-container, .dialog-container, .iframe-center-container{
    z-index: 10002;
}

.dialog-close-container{
	position:relative;
	width:100%;
	height:0;
	color:#fff;
}

.dialog-close-button{
	position:absolute;
	cursor:pointer;
	top:7px;
	right:10px;
	font-size: 14px;
}

/* css3 effect */
.blur4px{
	-webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}
.blur3px{
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}
.blur2px{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
.shadow-dialog{
	-webkit-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
	box-shadow: -3px 7px 27px -13px rgba(0,0,0,0.75);
}

.skin-blue-light .login-logo, .skin-blue-light .register-logo, .skin-blue-light .dialog-header {
  background-color: #3c8dbc;
  margin: 0;
  color: #fff;
}

.dialog-header {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.skin-blue-light .login-logo a, .skin-blue-light .register-logo a{
  color: #fff;
}

/* dialog overlay */
.dialog-overlay{
  z-index: 10001;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* simplified style name */
.fontsize24{ font-size: 24px}
.padding0{padding:0}
.margin0{margin:0}
.border0{border:none}
.marginTop40Px{margin-top:40px}
.alignCenter{text-align:center}
.marginBottom0{margin-bottom:0}
.fleft{ float:left }
.fright{ float:right }
.minwidth150Px{min-width:150px}
.height50px{height:50px}
.nowarp{white-space:nowrap}
.urlstyle{
	color:#555;
	cursor:pointer;
}
.w80px{width:80px}
.urlstyle:hover{
	color:#337ab7;
}
.no-margin{margin:0}
.no-padding{padding:0}
.no-border{border:none}
.no-max-width{max-width:none !important}
.info-box{
	background-color:#fff;
	overflow:hidden !important;
	color:#555;
	height:auto !important;
}
.info-box-icon{
	height: 80px;
}
.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.width-auto{
	width:auto !important;
}
.width-full{
	width:100% !important;
}

.table-container{
	padding:0 6px 0 0;
	width:100%;
}
.table{
	table-layout:fixed;
	width:100%;
	margin:0;
}

/* .table tbody{ 
	display: block;
	height: 200px;       For the demo 
    overflow-y: auto;    Vertical scroll   
    overflow-x: hidden;  Hide the horizontal scroll
    padding:0 4px;
 } */
 
 .table-condensed tr{
	height:24px;
}

.table-condensed td{
	white-space: nowrap;
	overflow:hidden;
}


/* override jquery ui css */
.ui-dialog { z-index: 1031 !important ;}

.ui-dialog .ui-dialog-content {
    padding: 0
}
.ui-dialog-titlebar-close{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.ui-dialog-titlebar-close:before{
	content: "\f00d";
}

.ui-autocomplete-loading {
	opacity: 0.4;
	background: white url("../images/spinner.gif") right center no-repeat;
}

/* PALM message pop up */
.palm_message_popup{
	position:fixed;
	z-index:10000;
	min-height:35px;
	min-width:400px;
	left:10px
	-webkit-box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.75);
}
.palm_message_popup > .icon{
	width: 20px;
    height: 20px;
    float: left;
    font-size: 20px;
    margin: 5px 5px 5px 0;
}
.palm_message_popup > .inner{
	font-size: medium;
    font-weight: 600;
    padding: 5px 0;
    margin-left: 29px;
    overflow: auto;
    height: 100%;
    weight: 60%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.timeline>li .fa-user , .author-list .fa-user{
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 30px;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
}
.timeline-author-img, .author-circle-img {
    border-radius: 50%;
    /* float: left; */
    width: 40px;
    height: 40px;
}
.box-filter{
	background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid transparent;
	
}
.box-filter-option{
	padding: 6px 12px;
}

/* Bubble Chart style */
.bubble-chart .value{
  font-size: 16px;
}

/* Pie Chart style */
.d3-pie-chart .total{
  font-size: 18px;
  font-weight: bold;
}
.d3-pie-chart .units{
  fill: gray;
  font-size: 12px;
}
.d3-pie-chart .label{
  fill: #CCC;
  font-size: 12px;
  font-weight: bold;
}
.d3-pie-chart .value{
  font-size: 12px;
  font-weight: bold;
}

div.d3-tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/* End of pie chart style */

/*  list style */
.content-list{
	overflow: scroll;
}
.content-list>.publication, 
.content-list>.author,
.content-list>.circle,
.coauthor-list>.author{
	margin-bottom: 10px;
	border-left:3px solid transparent;
	float:left;
}

.content-list>.authorExplore,
.content-list>.eventgroupExplore,
.content-list>.publicationExplore,
.content-list>.topicExplore,
.content-list>.circleExplore
{
	margin-left: 5px;
	width:100%;
	border-left:5px solid transparent;
	float:left;
    border-bottom-style: dotted;
    border-width:0.05px;
}

.coauthor-list>.author{
	border-left:none;
	float:left;
	min-height:60px;
	min-width:150px;
	width:100%;
}

.content-list>.eventgroup-item{
	margin-bottom: 10px;
}

.content-list>.eventgroup-item>.eventgroup{
	border-left:3px solid transparent;
	float:left;
}

.eventyear-list>.eventyear-item>.eventyear,
.eventvolume-list>.eventvolume{
	border-left:3px solid transparent;
	margin:4px 0 0 0;
	float: left;
	min-height:36px;
}
.eventyear-list>.eventyear-item>.eventyear{
	margin-left:35px;
	width:263px;
}
.eventvolume-list>.eventvolume{
	margin-left:70px;
	width:230px;
}
.eventyear-item>.eventyear>.detail{
    min-height: 36px;
    cursor:pointer;
    float: left;
    width:225px;
}

.content-list>.author{
	min-height:95px;
}
.content-list>.author.small{
	height:60px;
	min-height:60px;
	overflow:hidden;
}

.content-list>.circle{
	min-height:60px;
	/*width:100%;*/
}
.content-list>.eventgroup-item,
.eventyear-list>.eventyear-item{
	float:left;
}

.content-list>.publication.active, .content-list>.publication:hover, 
.content-list>.eventgroup-item>.eventgroup.active, .content-list>.eventgroup-item>.eventgroup:hover,
.content-list>.author.active, .content-list>.author:hover,
.content-list>.circle.active, .content-list>.circle:hover,
.eventyear-list>.eventyear-item>.eventyear.active,
.eventyear-list>.eventyear-item>.eventyear:hover,
.eventvolume-list>.eventvolume.active,
.eventvolume-list>.eventvolume:hover,
.coauthor-list>.author:hover{
	background-color: #EBEBEB;
}
.content-list>.publication.active,
.content-list>.author.active,
.content-list>.circle.active,
.content-list>.eventgroup-item>.eventgroup.active,
.eventyear-list>.eventyear-item>.eventyear.active,
.eventvolume-list>.eventvolume.active{
	border-left-color: #3c8dbc;
}
.content-list>.publication>.nav, .content-list>.eventgroup-item>.eventgroup>.nav,
.content-list>.author>.nav, .content-list>.circle>.nav, .eventyear-list>.eventyear-item>.eventyear>.nav,
.eventvolume-list>.eventvolume>.nav,
.coauthor-list>.author>.nav{
    width:35px;
    float:left;
    height:100%;
    padding: 2px 0;
}

.eventyear-list>.eventyear-item>.eventyear>.nav{
    padding: 0;
}

.content-list>.author>.nav>.btn{
	display:none;
}
.content-list>.author>.nav>.btn.visible{
	display:block;
}
.content-list>.author.active>.nav>.btn{
	display:block;
}

.content-list>.publication.static:hover,
.content-list>.circle.static:hover{
	background-color:#fff !important;
}

.content-list>.publication>.nav>.fa-edit,
.content-list>.eventgroup-item>.eventgroup>.nav>.fa-edit,
.content-list>.circle>.nav>.fa-edit{
	display:none;
	cursor:auto;
}
.content-list>.publication.active>.nav>.fa-edit,
.content-list>.eventgroup-item>.eventgroup.active>.nav>.fa-edit,
.content-list>.circle.active>.nav>.fa-edit{
	display:block;
	cursor:pointer;
}

.eventyear-list>.eventyear-item>.eventyear>.nav, .eventvolume-list>.eventvolume>.nav{
	min-height:36px;
	height:100%
}

.coauthor-list>.author>.nav.medium{
	width:65px !important;
}

.content-list>.author>.nav>.photo, .palm_atr_photo{
	width:52px;
	height:70px;
	padding:0 2px;
	float:left;
	font-size:60px;
	overflow:hidden;
	color:#73A2F8;
}
.coauthor-list>.author>.nav>.photo{
	width: 52px;
    padding:0 2px;
	float:left;
	font-size:60px;
	overflow:hidden;
	color:#73A2F8;
}
.coauthor-list>.author>.nav>.photo.medium{
	width:60px !important;
}
.coauthor-list>.author>.nav>.photo.round{
	border-radius: 50%;
    height: 52px;
}

.content-list>.author>.nav>.photo>img, .palm_atr_photo>img{
	height:70px;
	position:relative;
}

.coauthor-list>.author>.nav>.photo>img{
	width: 52px;
	position:relative;
}
.coauthor-list>.author>.nav>.photo.medium>img{
	width:60px !important;
}

.content-list>.author>.nav,.coauthor-list>.author>.nav{
	width:60px;
}

.content-list>.publication>.nav>.fa, .content-list>.circle>.nav>.fa, .content-list>.eventgroup-item>.eventgroup>.nav>.fa, 
.eventyear-list>.eventyear-item>.eventyear>.nav>.fa, .eventvolume-list>.eventvolume>.nav>.fa{
	margin-left: 2px;
	margin-bottom: 2px;
	width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}
.content-list>.publication>.nav>.fa-edit, .content-list>.eventgroup-item>.eventgroup>.nav>.fa-edit,
.content-list>.author>.nav>.fa-edit, .eventyear-list>.eventyear-item>.eventyear>.nav>.fa-edit,
.eventvolume-list>.eventvolume>.nav>.fa-edit,.content-list>.circle>.nav>.fa-edit{
	color: #999;
    margin-top: 1px;
    background-color:#fff;
    font-size: 16px;
}
.content-list>.publication>.detail, .content-list>.eventgroup-item>.eventgroup>.detail, 
.content-list>.author>.detail, .eventyear-list>.eventyear-item>.detail,
.eventvolume-list>.eventvolume>.detail,
.coauthor-list>.author>.detail,
.content-list>.circle>.detail {
	cursor:pointer;
    margin-left:0;
    float:left;
    width:260px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.coauthor-list>.author>.detail {
	overflow:auto;
	float:none;
	width:auto;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.detail.static{
	cursor:auto !important;
}
.detail>.info{
	float:left;
}
.author.static:hover,.detail.static:hover{
	background-color:#fff;
}

.eventvolume-list>.eventvolume>.detail {
	-webkit-box-shadow:none;
	 box-shadow:none;
}

.content-list>.publication>.detail>.option,
.content-list>.author>.detail.option{
	height:20px;
}

.content-list>.author>.detail{
	width:235px
}
.content-list>.eventgroup-item>.eventgroup>.detail{
	min-height: 70px;
}
.eventyear-list>.eventyear-item>.detail {
    width:257px
}
.eventvolume-list>.eventvolume>.detail {
	width:190px
}
.content-list>.circle>.detail{
	/*width:235px*/
}

.content-list>.publication>.detail>.title, .content-list>.eventgroup-item>.eventgroup>.detail>.title, 
.content-list>.author>.detail>.name,
.content-list>.author>.detail>.paper, 
.eventyear-list>.eventyear-item .title,
.coauthor-list>.author>.detail>.name,
.content-list>.circle>.detail>.title{
    display: block;
    font-weight: 600;
  	color: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-list>.author>.detail>.paper{
	line-height:20px;
}
.detail>.status,
.detail>.affiliation,
.detail>.prop{
	float: left;
}
.content-list>.author>.detail .icon,
.eventyear-item>.eventyear>.detail .icon,
.eventvolume-list>.eventvolume>.detail .icon,
.coauthor-list>.author>.detail .icon,
.content-list>.circle>.detail .icon
{
	float: left;
    line-height: 20px;
}
.content-list>.author>.detail .info, 
.eventyear-item>.eventyear>.detail .number,
.eventyear-item>.eventyear>.detail .date,
.eventyear-item>.eventyear>.detail .location,
.eventvolume-list>.eventvolume>.detail .volume,
.content-list>.circle>.detail .info{
	margin-left: 5px;
    float: left;
}
.coauthor-list>.author>.detail .info {
	margin-left: 5px;
	overflow:auto;
	float:none;
}
.content-list>.author>.detail .info,
.content-list>.circle>.detail .info{
    width: 216px;
}
.eventyear-item>.eventyear>.detail .number,
.eventyear-item>.eventyear>.detail .date,
.eventyear-item>.eventyear>.detail .location{
    width: 206px;
}

.grey-content{
	color:#bbb !important;
}
.content-list>.publication>.detail>.author {
    display: block;
}
.content-list>.publication>.detail>.venue {
    display: block;
}
.new-circle{
	position:fixed;
	bottom:20px;
	right:20px;
	width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
    overflow:hidden;
    z-index: 100;
}
.new-circle .fa-lg{
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    display:block;
}

.fa-stack-1x-left {
    position: absolute;
    left: -5px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
}

.fa-stack-1x-right {
    position: absolute;
    left: 14px;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}

/* Tagging style */
.palm-tagsinput{
	 border:1px solid #d2d6de;
	 padding:0;
	 width:100%;
	 min-height:34px;
	 float: left;
   	 margin-bottom: 15px;
}

.palm-tagsinput-focus {
    border-color: #3c8dbc !important;
    outline: 0;
}

.palm-tagsinput>span.tag-item{
	display:block;
	float:left;
	padding:0 18px 0 0;
	margin:5px 0 2px 13px;
}

.palm-tagsinput>span:hover{
  	background-color:#efefef;
}
.palm-tagsinput>span.tag-item>.fa-times{
	cursor:pointer;
 	position: absolute;
    border: 1px solid #d2d6de;
    color: #d2d6de;
    padding: 0;
    width: 16px;
    height: 16px;
    margin: 0 0 0 3px;
    font-size: 16px;
    line-height: 13px;
}
.palm-tagsinput input{
  	border:0;
  	margin:0;
  	padding:5px 12px;
  	width:260px;
  	float:left;
}
.palm-tagsinput input:focus{
  	border: none;
    outline: 0;
}

/* author filter style */
.f-a-cont{
	height:50px
}
.f-a-cont .fa-user, .tag-item .fa-user{
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 30px;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    float: left;
}
.f-a-img{
	float:left
}
.f-a-desc{
	float: left;
    margin: 0 0 0 6px;
}
.f-a-name, .f-a-aff{
    max-height: 25px;
    max-width: 190px;
    white-space: nowrap;
}
.f-a-name{
	text-transform: capitalize;
	font-size: 15px;
}
.f-a-aff{
	line-height: 14px;
}

/* Bootstrap font */
.semi-bold{font-weight:400!important}
.ultra-light{font-weight:300!important}
.font-xs{font-size:85%!important}
.font-sm{font-size:95%!important}
.font-md{font-size:130%!important}
.font-lg{font-size:160%!important}
.font-xl{font-size:200%!important}
.font-400{font-size:400%!important}
.col-md-4,.col-md-8,.col-md-12{
	/*padding:8px;*/
}
.capitalize {
    text-transform: capitalize;
}
.btn .caret {
    margin-left: 5px;
}

.min-w-75{
	min-width:75px;
}
.tooltip-inner {
   	width: 300px;
}
.btn-group-xs>.btn, .btn-xxs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
}
.btn-xs>button {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-social.btn-xs>i{
	width: 20px !important;
	line-height: 20px !important;
}
/* Circle style */
.circle-input-container{
	float:left;
	clear:both;
	border:1px solid #dedede;
}

.circle-input-column{
	float:left;
	width:50%;
	min-width: 300px;
	height:630px;
	padding:0 5px;
}

@media (max-width: 690px) {
	.circle-input-column{
		width:100%;
	}
}


.circle-input-right{
	border-left: 1px solid #dedede;
}

/* End of circle style */
.default-cursor{
	cursor:default !important;
}
.height500px{
	height: 500px !important;
}
.height580px{
	height: 580px !important;
}
.height610px{
	height:610px !important
}
.width100px{
	display:block;
	width:100px;
}
.width80px{
	display:block;
	width:80px;
}
.width110px{
	display:block;
	width:110px;
}
.width120px{
	display:block;
	width:120px;
}
.width220px{
	display:block;
	width:220px;
}

/* manage widget style */
.palm-table{
	width:100%;
	min-width:370px;
}
.palm-table>.table-header{
	display:block;
	width:100%;
	float:left;
	height:30px;
}
.palm-table>.table-header>span{
	display:block;
	float:left;
	font-weight:600;
}
.palm-table>.table-body>.table-row{
	display:block;
	width:100%;
	float:left;
	height: 34px;
}
.palm-table>.table-body>.table-row>span{
	display:block;
	float:left;
}
.palm-table>.table-body>.table-row>span.title{
	line-height: 26px;
	white-space:nowrap;
	overflow:hidden;
}

/* svg */
#pubBasicSvg svg {
  height: 180px;
}

/* validation */
input.error {
    border: 1px dotted red;
}

label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
}

form.cmxform label.error, label.error {
    color: red;
    font-style: italic;
}

/* json tidy */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.pre-string { color:#249D7F; }
.pre-number { color: #ED5C65; }
.pre-boolean { color: #219; }
.pre-null { color: #219; }
.pre-key { color:#249D7F;font-weight:700;}
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
    min-height:200px;
}
.info-label{color:#a2a2a2}
.widget-section{
	font-weight: 700;
    border-bottom: 1px solid #f4f4f4;
    padding: 3px 20px;
    float: left;
    background-color: rgba(150, 138, 125, 0.29);
    width: 100%;
}
.separator{
	padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}
.abstractSection{
	  font-size: 85%!important;
	  line-height:1.2;
}
.keywordSection{
	  font-size: 85%!important;
	  line-height:1;
	  font-style: italic;
	  padding-top:3px;
}
.errorStyle{
	color:#f00;
}

/* footer */
.footer-wrapper{
	position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:18px;
    background: #f9f9f9;
   -webkit-box-shadow: 0px -4px 16px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -4px 16px -5px rgba(0,0,0,0.75);
	box-shadow: 0px -4px 16px -5px rgba(0,0,0,0.75);
}
.footer-item{
	color: #777;
	font-weight:700;
	font-size:13px;
	padding:0 12px;
	float:right;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.rwth-logo{
	width:93px;
	height:18px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUh EUgAAAF0AAAASCAYAAAA5f9J6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAnLSURBVBgZvcELlFZ1gQDw373fY75vhplheCogJAKKqJARiiyVbZqmmJGaaOq6KumxNVtPppnuo9LYxZQeK2e3VmtBDcVHmqeyB4rIKREQQxGRVUkkQF7DMN/jfve/4NVDKK256v5+kVNu9pq+knSSEMaKtCN4KwGRWD43B/fY08EoYqk9fR5HIZWJsQa3YyrasQZfxhk4UWYGVuFGRN5aBV9EhG+hRS25f9yhQ2afc8zoUdVachW6cRm2yJyPY/Cf+LnM+TgbMW7GPHwdd2MOTsckLMR4FJHHRizFRNyBuTgbR+btEsLxUQgzhw3oGNy7tSyOI3+JfC62sbPiqRc3rJSL77GnAShjqT0djcnebBLqOEzmhxiDKTKb8K/4rL/clYhwnl1C2NTRozQ7jqKTMEXmdjyIGJdiFAJ+jtPxH/g1Cvg+voDT8RLmYBzOQBM+jbXYiDLacSqGYy6Owtl5jChE0ZyjRw3u8Upnt1Uvb1ZPU0REdFcTSSN4o3Ixp7Up77Ch/T314oaqN0uQeLNuu12NLlyDkfgFDkQTpmKL3T6FuxCwGP+CCbhE5g7MxdcwHNuwFRG2oU0UdXe0loUQjsVK9MGxeBAHoBcWYCJifAYNnIQOrMEYmW0y22QqMufiFzL/JnM4BmMLOvOSxvmjhvbvsWZTp6efX08uRxSRi0iDIw7oo29bkzdatHqTDZ0V1XqDyP/VHKzEyfgQHkcLJmAyHrLbAJyGOl7AHFRwicwi/BiXYDhK+K5MyS5xlHT0KBVDCEfiOxiNY/ElTEQFt+J7OAT9sRF1rMfx6MC5GIfzMA6J3Q7HDnSigO3YjjNRs1OeaExbuei3L21CrF9bSRqCjVsrhGDaOR/04UP29UZTpv3K7Y8+7x1IMBxXYTy24WaswQTsh5OQIkERU5BHLFO2W5NMTqaIC7wuUCjmq23NTWPSEEq4FxvwTbTho1iFu/A9HIMINUSo4mcYJXMCTpDpQpC5TmYZnkAXbsNpeAhpLNacpEG1u+7co4dZ/p3Jfj9jsk8fOYRKopEGW7dXTb9zqWm3L7bw6XV2SdLgHcphPQ5EAWvxLOZii0wbAn4q04YYwVvrxpdxBSpCUIzjpKO56ehGGuw0FgMR4+MYjVYcgxomIiBGijxOxwSZmTgQ/45mRDKX40icgTpaMBcDMB6VGCFJg5ZS3j+fNVaf9rL+vZp947NjycVyucj6LRVfmrnQFd+e7/5Fa7xLImzFdJmD8Amsx512y+EBPOPtqeNG3IiaNNW/Z0tLa3PTh9I02OlGfEFmKgbgSPwIBRyEBtqRoIzbcILMeqzEekR2+x1+i+VIUMITeALjUI3tFEUkSWrd5h1e99IrXTRSu+TiSK5coLmgXMh5h4p264H7sE7m72Vusqe1mO91aSiqN0jTnIA00EgLkgZpaBKCnZo10naNtF0amiWplubi4DgXH42HcQBG4iV8DL3wd9gfN+FAbEIPXIYvyiyWKcmUZQoyV2AGrsVg5FHDj2Wa83aKo0gtcM6Mh115ymiNRvD1OUvIxfJxZOiANitnnioNQe/2kndoJR5HQA1VTMcUNGMgFuMWHCqzGXfj/ZKG5uamJ/fft8MfNm5bt7Wz8nhrudhVKORWtJSKtmyvPNJVrVfTelId0K99SyDu7Ko8GHJReZ+eLd1YjFlYLXMzJqKOWdiC/8IhuBPP4Rw04WbMwbFYIbMav8Ey9EMvTMRWPIEUOdyHX2JD3mviQs5T6zrd8JPfqyepVRu6KOX9ZtnLOnfUFQuxkKRyhZyO1pJ34Kv4qj1dj+sRIZY51xtVkweGDOrtgk8c/tFePcrfX7d5+7df3tQ59qBBfa5spOF9hXx8TSNNC2s2dJ66eXv3msOH7XNtGmypJ40FIQ298/m4pbtavwmz0Rtfw1osQjtmIMb9WIyPIMYC/BALcRmacBaqmIVRSLECTaihhJ54BhHWYzGSvNc00lRbKe+ha0+wcUvFiIvvVM/Frr71cRrBq7ZXXTN1vH864wPeIwENe1OpGzyotwtPHKu1uTi6Uk/O693W/NN+HS3LkiQ9M5cTBYr5XG7YsIG9/juOomm1pHFBFHmhqZhvRVsImkMIh2I2DsFFuBsfR4zViPEcLsVaPIWP4Tj8A6bjVozAbFyMC/EYajgYvbEabeiDe7AJl+PW2J8IgXojqDVSSRq8qpinXKBcoFQQx5H/d2lw6IgBPnfiWK3lolq9UbdTI02TWr0hDWFHGkJXCGF7GoJ60jitWk8KIYStIYSuNA3daRo2hRBWY5jMYTILUMQtGIWRuEPmNhyDaRiCz2MTzsRkLEAvVLAaH8LVMsdjvMwpmCIzPUbsNVFECEG5mFPOxXQnpIFGSjWh3tBRLtoljiJ/IvJeqdYdMLCXiz45Tmu5qJY0/C8KWImhGIeKTIRuLEVfDMQY1LAUEQbhKIxHT5kSWjAYO/AoeuG7yOOv8AM02y2SKWMVfokzcAEexpK81I58FMnHkVq9oVJN7Nev1eIbTrZua8VVP3rM1OMOMmJQTzmMGdrbLpVGwy4hDQTBeyFpaOlRMnnCSGkjlTRSb6EJT2I9zkJVJpJ5BH+DI3AYnsaLqOFEnChzEbpwDj6DPvgKbsARuBgXYiZuQmq3SCYncyPul7nQTrEQlnVV6wb2bFHZVnH9Xcu8sq1i2KCePnzovo4a0deiZ9Y7YkRfY0f0laTBkmc3mLdsrf69W3XXE9LwnHdb0tBSLvrcpA/af5+eaknDXgSZIBOhglmYhA40ZApYJPPXOAAL0YkS7scEHIUnUcLDuBTP4jwUMBGnYwkuxlfQ5c97EH/AH/EzO+Xl41nPvLTp0o8cPCiuVRPfum+5WfNXKxVydqmlwR+3Vdy7aI3Xbe6qaW8uGTO0n3lPrdkmH//au6ne0KO5yQWTxho+sJfuauINYpm6TIRIpoS5uAFlrJQpYhWex6nowHyZCM/jUZnhyGEFZuP9uAy3YCv+FvOwFoehgGDvauhCEVU75UXRkq5q/apHnll73eghfY3Yr7daIxWCV8VxZPigSL2Ret2QOFJvNMxbvibdXqv/ozje6M1i5LxNUZr65MSRxgzbV9/2Zt3VxF6skJmKnvgAHsA+aMNGzMexaEIJJXRhCT4l8xiaZI7DDMR4QaaHTCTTG5MxD+9DjGUYiSaZvEwsE6MFBcRo5O2Si7+5tbv25MPL15wbFXKD4iiKEexFRJSkaV2SrpCPbxHH8+3dNlS8HWlQKhUdMXI/7c1FlXrDn/ErTMfJGIdHcB0uxwsyM9GB5ViHosy9GIR1WI19sQAtOE7mJ1iIVTJLsQg/wHZ8AwlmYRqGYoXMWjyG7Xb7HfJe8z+Bobbzq+SGwwAAAABJRU5ErkJggg==");
}

.nameTag{
	left-margin:2px;
	background-color:"#CF6876";
	font-size:15px;
}